.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 64px;
  height: 50px;
  border-bottom: 1px solid var(--border-silver-color);
  position: sticky;
  top: 0;

  .TopbarImageWrapper{
    display: none;
  }

  .topbarIcon {
    font-size: 24px;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {

  .topbarWrapper{
    padding: 0px 32px;
  .TopbarImageWrapper {
      display: block;
      height: 25px;

      img{
        height: 100%;
      }
    }

  }
}
