.homeWrapper {
  display: flex;

  .homepageRight {
    flex: 5;
    overflow: auto;

    .homeMainWrapper {
      padding: 30px 64px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      gap: 0px;
      height: calc(100vh - 50px);
      overflow-y: auto;

      .homeMainTop {
        display: flex;
        overflow-x: auto;
        gap: 20px;
                min-height: 160px;
                  max-height: 160px;
      }

      .homeMainBottom {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

// @media screen and (max-width: 1024px) {
//   .homeWrapper {
//     height: 100vh;

//     .homepageRight {
//       height: 100%;
//       .homeMainWrapper {
//         height: calc(100% - 50px);
//         padding: 30px 32px;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         gap: 30px;
//         // display: flex;
//         //   flex-direction: column;
//         //   gap: 30px;

//         .homeMainTop {
//           flex-direction: column;
//           justify-content: flex-start;
//           display: flex;
//           gap: 30px;
//           height: auto;
//         }
//       }
//     }
//   }
// }
@media screen and (max-width: 767px) {
  .homeWrapper {
    height: 100vh;
    .homepageRight {
      height: 100%;
      .homeMainWrapper {
        height: calc(100% - 50px);
        padding: 30px 32px;

        .homeMainTop {
            display: flex;
            overflow-x: auto;
            gap: 20px;
            flex-wrap: wrap;
            min-height: 500px !important;
            justify-content: center;
          }

        .homeMainBottom {
          display: none !important;
        }
      }
    }
  }
}
